<header class="main-header">
    <section class="header-contenedor">
        <div class="main-header-top-bar">
            <a href="/" class="hipervinculoLogo"><img src="/images/castorLogo.webp" alt="LogoCastor" class="logo"></a>
            <form class="adress-bar" method="get" action="/search">
                <input type="text" name="keywords" id="" placeholder="Buscar productos, marcas..." class="buscador">
                <button class="boton-lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="iconos">
                <div class="icon-user">
                    <a href="users/loggin"><i class="fa-regular fa-circle-user"></i></a>
                </div>
                <div class="icon-cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div>
                    <a href="users/registerOff">Registrarte</a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/productList">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </section>
</header>