<header class="main-header">
    <section class="header-contenedor">
        <div class="main-header-top-bar">
            <a href="/" class="hipervinculoLogo"><img src="/images/castorLogo.webp" alt="LogoCastor" class="logo"></a>
            <form class="adress-bar" method="get" action="/search">
                <input type="text" name="keywords" id="" placeholder="Buscar productos, marcas..." class="buscador">
                <button class="boton-lupa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="iconos">
                <% if (locals.isLogged) { %>
<!-- inicio acceso a perfil -->
                <div class="dropdown ">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;">
                      <img src="../../images/users/<%= locals.userLogged.photo%>" alt="mdo" width="50" height="50" class="rounded-circle" style="margin-right: 7px;"> Hola <%= locals.userLogged.first_name%>
                    </a>
                    <ul class="dropdown-menu text-small">
                      <li><a class="dropdown-item" href="/users/profile">Mi perfil</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                    </ul>
                  </div>
<!-- fin acceso a perfil -->
                <% } else { %>
                <div class="icon-user">
                    <a href="/users/login"><i class="fa-regular fa-circle-user"></i></a>
                </div>
                <% } %>
                <% if (!(locals.isLogged && locals.userLogged.category_id == 2)) { %>
                <a href="#">
                    <div class="icon-cart">
                        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i>
                        <div class="cartAmount">0</div></a>
                    </div>
                </a>
                <% } %>

            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/productList">Productos</a></li>
                <li><a href="/sales">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </main><script src="/js/carrito.js"></script>
    </a>
    </section>
</header>