<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    
        <%- include("./partials/header")%>

            <main>
                <div class="contCarrusel" id="contCarrusel">
                    <div class="contImg" id="contImg">
                        <div   class="imgCarrusel"></div>
                    </div>
                    <ul class="btns">
                        <li class="btn active"></li>
                    </ul>
                </div>
                <h3>Productos Destacados</h3>
                <h2>Resultados de la Busqueda:</h2>

                <div class="productos-destacados">
                    <% if(products) {%>
                        <% products.forEach( (product)=>{ %>
                            <%- include('partials/product', { product }) %>
                        <%});%>
                    <%}%>

                </div>

                <section class="contenedor-marcas">
                    <article class="contenido-marcas"><img src="./images/marcas/marca_fv.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_klaukol.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_lomaNegra.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_roca.webp" alt=""></article>
                </section>

                <section class="contenedor-novedades">
                    <div class="contenedor-p-novedades">
                        <p>Categorias para elegir Amplia variedad!!</p>
                        <p>¡Comprá desde casa en simples pasos!</p>
                    </div>
                    <div class="contenedor-btn-novedades">
                        <button>VER PRODUCTOS>></button>
                    </div>
                </section>
            </main>
</body>
<%- include("./partials/footer")%>

</html>