<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    
        <%- include("./partials/header")%>

            <main>
                <div class="contenedor-carruselImg" id="contentItemsCarrusel">
                    <div class="tarjeta-foto" id="tarjetaFoto1">
                        <div class="imagenCarrusel" id="imagenCarrusel1">

                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaFoto3"><i class="fa-solid fa-angle-left"></i></a>
                            <a href="#tarjetaFoto2"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="tarjeta-foto" id="tarjetaFoto2">
                        <div class="imagenCarrusel" id="imagenCarrusel2">

                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaFoto1"><i class="fa-solid fa-angle-left"></i></a>
                            <a href="#tarjetaFoto3"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="tarjeta-foto" id="tarjetaFoto3">
                        <div class="imagenCarrusel" id="imagenCarrusel3">
                        </div>
                        <div class="flechasCarrusel">
                            <a href="#tarjetaFoto2"><i class="fa-solid fa-angle-left"></i></a>
                            <a href="#tarjetaFoto1"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <h3>Productos Destacados</h3>
                <h2>Resultados de la Busqueda:</h2>

                <div class="productos-destacados">
                    <% if(products) {%>
                        <% products.forEach( (product)=>{ %>
                            <%- include('partials/product', { product }) %>
                        <%});%>
                    <%}%>

                </div>

                <section class="contenedor-marcas">
                    <article class="contenido-marcas"><img src="./images/marcas/marca_fv.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_klaukol.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_lomaNegra.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_roca.webp" alt=""></article>
                </section>

                <section class="contenedor-novedades">
                    <div class="contenedor-p-novedades">
                        <p>Categorias para elegir Amplia variedad!!</p>
                        <p>¡Comprá desde casa en simples pasos!</p>
                    </div>
                    <div class="contenedor-btn-novedades">
                        <button>VER PRODUCTOS>></button>
                    </div>
                </section>
            </main>
</body>
<%- include("./partials/footer")%>

</html>