.form-agregar-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--paleta-f);
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
}

.contenedor-agregar-producto {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 2rem;
    justify-content: center;
}
.contenedor-agregar-producto input {
    font-size: 1.5rem;
}

.contenedor-agregar-producto select {
    border: none;
    border-bottom: solid .1rem var(--paleta-a);
    border-radius: 0.5rem;
    padding: .5rem;
    margin-top: .5rem;
    width: 100%;
    max-width: 40rem;
    font-size: 1.5rem;

}
.divForListErrors{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
}
.ulErrores{
    color: rgba(213, 0, 0, 0.886);
    font-size: 13px;
}
@media (min-width: 769px) {
    .form-agregar-producto {
        display: flex;
        justify-content: space-around;
        width: 60rem;
        border: 1px solid #d8d8d8;
        box-shadow: 1px 2px 2px 0 rgba(255 84 0 / 50%);
        margin-top: 24rem;

    }

    .contenedor-agregar-producto {
        width: 40%;
    }
}