:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #ebebeb;
    --paleta-f: #ffffff;
    --fuente-principal: 'Hind Madurai', sans-serif;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

.cartAmount {
    font-size: 16px;
    background-color: red;
    color: white;
    position: absolute;
    top: -9PX;
    right: -7px;
    padding: 0px 3px;
    border-radius: 3px;
}

.icon-cart {
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
    top: -2px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem == 10px */
    background-color: var(--paleta-d);
}

body {
    font-family: var(--fuente-principal);
}

/* a.hipervinculoLogo{
    height: 7rem;
} */
img.logo {
    height: 12rem;
}

.main-header {
    background-color: var(--paleta-a);
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.header-contenedor {
    height: 20rem;
    width: 90%;
}

.main-header-top-bar {
    text-align: center;
}

.adress-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1rem;
}

.adress-bar input {
    margin-top: 0;
}

.buscador {
    border: none;
    background-color: var(--paleta-e);
    width: 30vw;
    height: 2.5rem;
    border-radius: .4rem 0 0 .4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
}


.boton-lupa {
    border: none;
    background-color: var(--paleta-e);
    color: var(--paleta-c);
    width: 3rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0 .4rem .4rem 0;
}

.iconos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2rem;
    align-self: center;
}

.icon-user a {
    text-decoration: none;
    color: var(--paleta-b);
    font-size: 1.5rem;
}

.icon-user,
.icon-cart {
    align-self: center;
}

.icon-user i,
.icon-cart i {
    font-size: 2rem;
    transition: .5s;
    color: white;
}

.iconos div:hover i {
    filter: drop-shadow(2px 2px 2px var(--paleta-c));
    font-size: 3rem;
    color: var(--paleta-b);
}

.navbar {
    display: none;
}

.navbar a {
    color: var(--paleta-f);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.navbar li {
    padding-top: 1.5rem;
    list-style: none;

}

.navbar li:hover a {
    /* font-size: 1.6rem; */
    /* padding: 2px 4px; */
    border-radius: 5px;
    background-color: var(--paleta-e);
    color: var(--paleta-c);
    /* filter: drop-shadow(2px 2px 2px var(--paleta-c)); */
    transition: .5s;

}

.burger-menu {
    background-color: var(--paleta-a);
    color: var(--paleta-f);
    display: block;
    max-width: 2.1rem;
    border-radius: .45rem;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    margin-top: -2rem;
}

@media (min-width: 361px) {
    .burger-menu {
        display: none;
    }

    /* .main-header {
        display: flex;
        padding: 2rem;
        width: 100vw;
        position: fixed;
        top: 0px;
        padding-right: 3rem;
    } */
    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        height: 14rem;
        margin: auto;
        margin-top: 1rem;
        width: 80vw;
    }

    .hipervinculoLogo {
        width: 40%;
        margin-top: 2rem;
    }

    img.logo {
        width: fit-content;
    }

    .navbar {
        width: 100%;
        display: flex;
        /* flex-wrap: nowrap;
        justify-content: center; */
        margin-top: 1rem;
    }

    .navbar ul {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
    }

    /* .navbar a {
        margin: 1em 2em;
    } */

    .iconos {
        width: 18%;
        margin-top: 0;
        /* width: 10vw;
        justify-content: space-around;
        flex: 1;
        padding-right: 1rem; */

    }


    .adress-bar input {
        width: 100%;
    }

    .adress-bar input,
    .boton-lupa {
        height: 5rem;
    }

    .icon-user i,
    .icon-cart i {
        font-size: 3rem;
    }

    .contenedor-prodDestacado_productos {
        width: 98%;
        height: max-content;
        margin: 15vh auto;
    }

    .icon-cart {
        padding: 5px;
        font-size: 30px;
        border-radius: 4px;
        position: relative;
        top: 3px;
    }
}

@media (min-width: 769px) {
    .icon-cart {
        position: relative;
        top: 5px;
    }

    .main-header-top-bar {
        width: 100%;
        justify-content: space-between;
    }

    a.hipervinculoLogo {
        width: 27%;
        margin-left: -4rem;
        margin-top: 2rem;
    }

    img.logo {
        height: 17rem;
    }

    /* .iconos {
        /* justify-content: space-between; */
    /* width: 100%;
        flex-wrap: nowrap; */
    /* flex: 0.5;
        padding-left: 12vw; */
    /* } */

    .navbar {
        margin-top: 0;
        justify-content: center;

    }

    .navbar ul {
        width: 70vw;
        justify-content: space-around;
    }

    .navbar ul li a {
        font-size: 2rem;
    }

    .adress-bar {
        width: 50%;
    }

    .adress-bar input {
        width: 80rem;
    }

    /* .adress-bar input, */
    /* .boton-lupa {
        /* height: 5rem; */
    /* width: 30%; */
    /* }  */

    .icon-user i,
    .icon-cart i {
        font-size: 3rem;
    }

    /* .buscador {
    margin: auto;
} */
}