:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #ebebeb;
    --paleta-f: #ffffff;
    --fuente-principal: 'Hind Madurai', sans-serif;
    --curva-de-bordeado: 1.5rem;
    --separador-elementos: 1rem;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--fuente-principal);
}

body .contenedor-carruselImg {
    width: 100%;
    /* Margen superior para inmovilización del header */
    margin-top: 14rem;
    /*****************************************************/
    /* margin: var(--separador-elementos) auto; */
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    background: #ccc5b9;
    box-shadow: inset 10px 10px 0px #7e7a73,
        inset -10px -10px 0px #ffffff;
}

/*CARRUSELL INICIO*/
.contCarrusel{
    width: 90%;
    height: 20rem;
    max-width: 120rem;
    margin: 5rem auto;
    border: 1px solid var(--paleta-a);
}

.contCarrusel .contImg{
    width: 200%;
    display: flex;
    flex-wrap: row nowrap;
    
    justify-content: flex-start;
    align-items: center;
    border: 1px solid green;
    margin: .25rem;
}

.contImg img{
    width: calc(100% / 2);
    border: 1px solid red;
    margin: .5rem;
}

.contCarrusel .btns{
    width: 100%;
    height: 25%;
    border: 1px solid brown;
    padding: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contCarrusel .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid salmon;
    border-radius: 50%;
} 
.contCarrusel .btn.active{
    background-color: #25242257;
} 

/*CARRUSEL FIN*/

main {
    max-width: 90vw;
    margin: auto;
    margin-top: 18rem;
}

.productos-destacados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--paleta-e);
}

.contenedor-marcas {
    width: 95%;
    height: max-content;
    margin: var(--separador-elementos) auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-marcas article {
    margin: 10px;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-marcas article img {
    width: 100%;
    transition: 0.2s;
}

.contenedor-marcas article img:hover {
    width: 12rem;
    height: 12rem;
}


body .contenedor-novedades {
    background-image: url(/images/fotoCarrusel3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 30rem;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contenedor-novedades .contenedor-p-novedades {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contenedor-p-novedades p {
    font-size: large;
}

.contenedor-novedades .contenedor-btn-novedades {
    width: max-content;
    height: min-content;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: transparent;
    font-size: large;
    transition: 1s;
}

.contenedor-btn-novedades:hover {
    border: 1px solid var(--paleta-a);
}


.contenedor-novedades .contenedor-btn-novedades button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

footer {
    margin-top: 5rem;
}


@media (min-width: 361px) {
    /* .productos-destacados {
        justify-content: space-between;
    } */
    .productos-destacados {
        justify-content: space-between;
    }


}

@media (min-width: 769px) {

    /* .producto {
        box-shadow: none;
        width: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all .5s;
    }
    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .articulo {
        /* width: 100%;
        padding-top: 28px;
    }

    .precio {
        width: 50%;
    } */

}