.lista-productos {
    margin-top: 25rem;
}
.boton-crear-producto {
    margin-right: auto;
}
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--paleta-e);
    margin-top: 23rem;
}
.productosLista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--paleta-e);
}

.producto {
    background-color: var(--paleta-f);
    margin: 15px;
    justify-content: center;
border-radius: 0.5rem;
}

.producto img {
    width: 100%;
}

.producto a {
    text-decoration: none;
    color: var(--paleta-b);
}

.articulo {
    padding: 2%;
    border-top: 1px;
    border-top: 0.5px solid var(--paleta-d);
    position: relative;
    width: 90%;
    margin: auto;
}
.precio,
.nombre-producto,
.marca-producto
 {
    width: 50%;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.contenedor-category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    height: auto;
    list-style: none;
}
.contenedor-category a{
    text-decoration: none;
    background-color: var(--paleta-a);
    color: var(--paleta-e);
    padding: 1.5rem;
    border-radius: 5px;
    margin: 2px;
    font-size: 1.2rem;
    border: 1px solid black;
}


.descripcion-producto {
    text-align: center;
}

.links-prduct-contenedor:hover .contenido-decripcion-prodDestacado {
    width: 125px;
}

@media (min-width: 361px) {
    .productos {
        justify-content: space-between;
    }

    .producto {
        width: 40%;
        border-bottom: solid .1rem var(--paleta-a);

    }
}

@media (min-width: 769px) {

    .producto {
        box-shadow: none;
        width: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all .5s;
    }
    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .articulo {
        /* width: 100%; */
        padding-top: 28px;
    }

    .precio {
        width: 50%;
    }

}