.producto-seccion {
    width: 70vw;
    margin: 15rem auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.producto-seccion img {
    width: 80%;
    margin: auto;
}

.producto-seccion h2 {
    font-size: 2.5rem;
}

.producto-layout {
    text-align: center;
    font-size: 1.5rem;
}

.contenedor-botonera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    max-width: 10rem;
    justify-content: center;
    height: 7.5rem;
    margin: 2rem auto;
}

.btn-izq,
.btn-der {
    background-color: var(--paleta-a);
    align-items: center;
    width: 2rem;
    font-size: 2rem;
    border: 1px solid var(--paleta-a);
    color: var(--paleta-e);

}

.btn-der {
    border-radius: 0 50% 50% 0;
}

.btn-izq {
    border-radius: 50% 0 0 50%;
}

.cantidad {
    width: 3rem;
    font-size: 2rem;
    text-align: center;
}

.btn-agregar {
    border: 1px solid var(--paleta-a);
    width: 80%;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.producto-descripcion {
    text-align: center;
    font-size: 1.5rem;
}

.producto-descripcion h2 {
    font-size: 1.5rem;
}
.administrar-producto {
    margin: auto;
    margin-top: 3rem;
    padding-top: 2rem;
    text-align: center;
    border-top: 1px solid var(--paleta-a);
}
.administrar-producto h2 {
    font-size: 1.5rem;
}
.administrar-producto button {
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: var(--paleta-a);
    color: var(--paleta-e);
    width: 8rem;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

@media (min-width: 361px) {
    .contenedor-botonera {
        justify-content: center;
        max-width: 20rem;
    }

    .btn-agregar {
        width: 10rem;
    }
    .administrar-producto button {
        width: 10rem;
    }
}

@media (min-width: 769px) {
    .producto-seccion {
        height: 95vh;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .producto-seccion h2,
    .producto-info {
        margin-left: 3rem;
        text-align: start;
    }

    .producto-seccion img {
        width: 40%;
    }

    .producto-layout {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        height: 28rem;
        width: 50%;
        justify-content: center;
        border-left: 1px solid var(--paleta-a);
    }

    .contenedor-botonera {
        width: 100%;
        height: 5rem;
        margin-left: 3rem;
        max-width: 20rem;
        justify-content: space-around;
    }

    .producto-descripcion {
        width: 100%;
    }

    .producto-descripcion h2,
    .producto-descripcion p {
        margin-left: 0;
        text-align: center;
    }
    .administrar-producto {
        width: 70vw;
    }
    .administrar-producto h2 {
        margin: auto;
        text-align: center;
    }
    .administrar-producto button {
        text-align: center;
    }

}