:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #ebebeb;
    --paleta-f: #ffffff;
    --fuente-principal: 'Hind Madurai', sans-serif;
    --curva-de-bordeado: 1.5rem;
    --separador-elementos: 1rem;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

html {
    font-family: var(--fuente-principal);
}

body {
    margin: 0 auto;
}

.contenedor-prodDestacado_productos{

}


.contenido-decripcion-prodDestacado_productos{
   
}


@media (min-width: 361px) {
    .contenedor-prodDestacado_productos{
        width: 98%;
        height: max-content;
    }

}

@media (min-width: 769px) {
    

 
}