:root {
    /* El root se utiliza para declarar variables dentro del Css */
    --paleta-a: #ff5400;
    --paleta-b: #252422;
    --paleta-c: #403d39;
    --paleta-d: #ccc5b9;
    --paleta-e: #ebebeb;
    --paleta-f: #ffffff;
    --fuente-principal: 'Hind Madurai', sans-serif;
    --curva-de-bordeado: 1.5rem;
    --separador-elementos: 1rem;
    /* Las variables usualmente se declaran de esta manera('--'+nombre de variable) y los espacios se remplazan por '-'*/
}

body .contenedor-detallado-product{
    height: 70rem;
    width: 95%;
    margin: 15rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.contenedor-product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}
.contenedor-fotoDesc-product .foto-product{
    width: 60%;
    height: 70%;
    margin: 0 auto;
}
.foto-product img{
    width: 100%;
}

.product-barraDesc{
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cant-disponibilidad{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-botonera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
}
.contenedor-botonera p{
    height: 2.5rem;
    display: flex;
    align-items: center;
    width: 4.5rem;
    font-size: medium;
}
.contenedor-botonera p button{
    border: transparent;
    background-color: transparent;
    width: 1rem;
    border-radius: 5px;
    font-size: large;
}
