<div class="lista-productos">
    <% if(locals.category){ %>
        <ul class="contenedor-category">
            <% category.forEach( cat => { %>
                <li><%= cat.name_category %></li>
            <%})%>
        </ul>
    <%}%>           
</div>
