<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header")%>
            <main>
                <form action="/users/logined" class="form-login" method="POST">
                    <h1 class="encabezado-login">Iniciar sesión</h1>
                    <div class="contenedor-bloque-login">
                        <input class="input-login" type="email" name="email" id="email-login" placeholder="email">
                        <% if (locals.errors && errors.email) { %>
                            <div class="contenedor-errors">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="contenedor-bloque-login">
                        <input class="input-login" type="password" name="password" id="password-login"
                            placeholder="Contraseña"><br>
                    </div>
                    <div class="contenedor-bloque-login">
                        <div class="politica-privacidad">
                            <label class="labelRegister">
                                <input type="checkbox" id="cbox1" class="check-acepta" name="remember_user">Recordar
                            </label>
                        </div>
                        <div class="contenedor-bloque-login">
                            <button type="submit" class="boton-login">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
                <div class="clienteNuevo">
                    <h3>¿Cliente nuevo?</h3>
                    <div class="contenedor-bloque-login_clienteNuevo">
                        <p>Crear una cuenta tiene muchos beneficios:<br>
                            Pago más rápido, guardar más de una dirección,
                            seguimiento de pedidos y mucho más.
                        </p>
                    </div>
                    <div class="contenedor-bloque-login_clienteNuevo contenedor-bloque-login">
                        <a href="register" class="boton-registro">Registrarme</a>
                    </div>
                </div>

            </main>
            
                <%- include("../partials/footer")%>
                <!-- <script src="/js/login.js"></script> -->
    </body>

</html>