<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header")%>
            <main>
                <form action="./loggin/checked" class="form-login" method="post">
                    <h1 class="encabezado-login">Iniciar sesión</h1>
                    <div class="contenedor-bloque-login">
                        <input class="input-login" type="email" name="email" id="email-login" placeholder="email">
                    </div>
                    <div class="contenedor-bloque-login">

                        <input class="input-login" type="password" name="password" id="password-login"
                            placeholder="Contraseña">
                    </div>
                    <div class="contenedor-bloque-login">
                        <div class="politica-privacidad">
                            <input type="checkbox" id="cbox1" value="first_checkbox" class="check-acepta">
                            <label class="labelRegister">Recordar</label>
                        </div>
                        <div class="contenedor-bloque-login">
                            <button class="boton-login" type="submit">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
                <div class="clienteNuevo">
                    <h3>¿Cliente nuevo?</h3>
                    <div class="contenedor-bloque-login_clienteNuevo">
                        <p>Crear una cuenta tiene muchos beneficios:<br>
                            Pago más rápido, guardar más de una dirección,
                            seguimiento de pedidos y mucho más.
                        </p>
                    </div>
                    <div class="contenedor-bloque-login_clienteNuevo contenedor-bloque-login">
                        <input type="submit"class="boton-registro" value="Registrarme" >
                    </div>
                </div>

            </main>
            <%- include("../partials/footer")%>
    </body>



</html>