<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head")%>

    <body>

        <%- include("../partials/header")%>
            <main>
                <% if( locals && locals.errors ){ %>
                    <div class="contenedor-errors">
                        <ul style="text-align: center;">
                            <% errors.forEach( (elemento)=> { %>
                                <li>
                                    <%= elemento.msg %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <br><br>
                    <% } %>
                        <form action="/users/registered" method="POST" class="form-registro">
                            <h1 class="encabezado-formularios">Registro</h1>
                            <p class="contenedor-bloque">
                                <input type="text" name="first_name" placeholder="Nombre" class="inputRegister"
                                    id="nombreRegister">
                            </p>
                            <p class="contenedor-bloque">
                                <input type="text" name="last_name" placeholder="Apellido" class="inputRegister"
                                    id="apellidoRegister">
                            </p>
                            <p class="contenedor-bloque">
                                <input type="email" name="email" placeholder="email" class="inputRegister"
                                    id="emailRegister">
                            </p>
                            <p class="contenedor-bloque">
                                <input type="password" name="password" placeholder="Contraseña" min-length="8"
                                    class="inputRegister" id="passwordRegister">
                            </p>
                            <p class="contenedor-bloque">
                                <input type="file" name="photo" 
                                    class="inputRegister" id="photoRegister">
                            </p>
                            <div class="contenedor-bloque">
                                <ul class="ulErrores">
                                    <li>1 mayúscula</li>
                                    <li>8 caracteres mínimo</li>
                                    <li>1 número</li>
                                </ul>
                            </div>
                            <div class="contenedor-bloque">
                                <div class="politica-privacidad">
                                    <input type="checkbox" value="Registrarme" class="check-acepta">
                                    <label class="labelRegister"> He leído y acepto el Aviso Legal y la Política de
                                        Privacidad </label>
                                </div>
                            </div>
                            <div class="contenedor-bloque">
                                <button type="submit" class="boton-registro" >Registrame</button>  
                            </div>
                        </form>
            </main>

            <%- include("../partials/footer")%>
                <!-- <script src="/js/register.js"></script> -->
    </body>

</html>