<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>
<%- include("../partials/header")%>
    <body>
        <section>
            <h3>Lista de productos</h3>
            <div class="productos">
                <% products.forEach( (productos)=>{ %>
                    <%- include('../partials/product', { product: productos }) %>
                <%});%>
            </div>
        </section>
        <a href="/create">Crear nuevo producto</a>

    </body>
<%- include("../partials/footer")%>
</html>